[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "pyansys-tools-report"
version = "0.1.2"
description = "Ansys tool for reporting your Python environment's package versions and hardware resources in a standardized way."
authors = [
    {name = "ANSYS, Inc.", email = "pyansys.support@ansys.com"},
]
maintainers = [
    {name = "PyAnsys developers", email = "pyansys.support@ansys.com"},
]
readme = "README.md"
license = {file = "LICENSE"}
classifiers = ["License :: OSI Approved :: MIT License"]
dependencies = [
    "build>=0.7.0",
    "twine>=3.8",
    "setuptools>=41.0.0",
    "wheel>=0.33.0",
    "scooby>=0.5.12",
    "pyvista>=0.34.1",
]

[project.optional-dependencies]
test = [
    'pytest>=7.1.0',
    'pytest-cov>=3.0.0',
]
doc = [
    "Sphinx>=4.4",
    "numpydoc>=1.2",
    "ansys_sphinx_theme>=0.4.0",
    "Sphinx-copybutton>=0.4",
    "myst-parser",
]

[project.urls]
home = "https://github.com/pyansys/pyansys-tools-report"

[tool.flit.module]
name = "ansys.tools.report"

[tool.pytest.ini_options]
minversion = "7.1"
addopts = "-ra -q -v --cov=ansys.tools.report --cov-report term"
testpaths = [
    "tests",
]