[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
# Check https://flit.readthedocs.io/en/latest/pyproject_toml.html for all available sections
name = "pyansys-tools-report"
version = "0.4.0"
dynamic = ["description"]
readme = "README.md"
requires-python = ">=3.7"
license = {file = "LICENSE"}
authors = [
    {name = "ANSYS, Inc.", email = "pyansys.support@ansys.com"},
]
maintainers = [
    {name = "PyAnsys developers", email = "pyansys.maintainers@ansys.com"},
]
classifiers = [
    "Development Status :: 4 - Beta",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
    "importlib-metadata >=4.12.0",
    "scooby>=0.5.12",
    "pyvista>=0.34.1",
]

[project.optional-dependencies]
tests = [
    "pytest==7.2.0",
    "pytest-cov==4.0.0",
]
doc = [
    "ansys_sphinx_theme==0.7.1",
    "numpydoc==1.5.0",
    "Sphinx==5.3.0",
    "Sphinx-copybutton==0.5.1",
    "myst-parser==0.18.1",
]

[tool.flit.module]
name = "ansys.tools.report"

[project.urls]
Source = "https://github.com/pyansys/pyansys-tools-report"

[tool.black]
line-length = 100

[tool.isort]
profile = "black"
force_sort_within_sections = true
line_length = 100
default_section = "THIRDPARTY"
src_paths = ["doc", "src", "tests"]

[tool.coverage.run]
source = ["ansys.tools.report"]

[tool.coverage.report]
show_missing = true

[tool.pytest.ini_options]
minversion = "7.1"
addopts = "-ra -q -v --cov=ansys.tools.report --cov-report term"
testpaths = [
    "tests",
]
